---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
import { Icon } from "astro-icon";

const features: Array<FeatureItem> = [
  {
    title: "Sitios web",
    description:
      "Nuestra metodología de desarrollo ágil, nos permite crear un valor agregado al producto, desde el primer día garantizando una solución rentable y eficiente.",
    icon: "mdi:cloud",
  },
  {
    title: "Aplicaciones moviles",
    description:
      "La tecnología más cerca de ti y tus clientes, soluciones innovadoras y de fácil acceso.",
    icon: "mdi:cellphone",
  },
  {
    title: "Tiendas online",
    description:
      "¿Necesitas una tienda y buen posicionamiento SEO para aumentar la venta de tus productos?. En COTI te la construimos!",
    icon: "mdi:store",
  },
  {
    title: "Cotizaciones",
    description:
      "Agiliza el proceso de cotizaciones de tu negocio. Solicita cotizaciones a tus proveedores y nosotros clasificamos los mejores precios por ti",
    icon: "mdi:file-compare",
  },
  {
    title: "Micrositios de pagos",
    description:
      "Registra y centraliza los pagos de tu negocio y ofrece nuevas alternativas de pago a tus clientes.",
    icon: "mdi:credit-card-outline",
  },
  {
    title: "Marketing y redes sociales",
    description:
      "Impulsa tus productos o servicios en redes sociales de la mano de expertos.",
    icon: "mdi:advertisements",
  },
];
---

<ContentSection title="Nuestros servicios" id="services">
  <Fragment slot="lead">
    Actualmente contamos con una gran variedad de servicios y soluciones a los  <span class="text-primary">requerimientos</span> y <span class="text-primary">necesidades</span> que se presentan en el mercado
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
