---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿ Quienes somos ?" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Somos una empresa de innovación tecnológica que nace a partir de las necesidades presentadas actualmente en el mercado nacional bajo el ámbito tecnológico, construcción y manufactura.    
    <br>
    <span class="text-primary">Coti</span> te brinda las mejores soluciones a tus necesidades, sin sacrificar calidad, con los mejores precios del mercado.
  </Fragment>
  
</ContentSection>
