---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
---

<ContentSection title="¿Quiénes somos?" id="intro">
  
  <Icon id="logoLight" slot="eyebrow" name={"coti-logo"} alt="logomark" class="h-24 text-white md:h-32" />
  <Icon id="logoDark" slot="eyebrow" name={"coti-logo-white"} alt="logomark" class="h-24 text-white md:h-32" />
  <Fragment slot="lead">
    Somos una empresa de innovación tecnológica que nace a partir de las necesidades presentadas actualmente en el mercado nacional bajo el ámbito tecnológico, construcción y manufactura.    
    <br>
    <span class="text-primary">Coti</span> te brinda las mejores soluciones a tus necesidades, sin sacrificar calidad, con los mejores precios del mercado.
  </Fragment>
</ContentSection>



  <style>

    @media (prefers-color-scheme: dark) {
      #logoDark {
        display: block;
      }
      #logoLight {
        display: none;
        
      }
    }

    @media (prefers-color-scheme: dark) {
      #logoDark {
        display: none;
      }
      #logoLight {
        display: block;
      }
    }
  </style>